node_modules
build
.vscode
*.d.ts
!src/common/clowder.d.ts
!src/tests-visual-regression/global.d.ts
dist
public/*
!public/favicon.ico
!public/manifest.json
!public/robots.txt
!public/templates
!public/images
