<div style="
  font-family: 'Red Hat Text';
  font-style: italic;
  font-size: 9px;
  color: #ccc;
  position: absolute;
  top: 0;
  left: 0;
  padding: 0;
  margin: auto;
  width: 297mm;
  content: '';
  display: flex;
  transform: scale(0.75);
  transform-origin: top left;"
>
  <div style="flex-grow: 1; width: 33.33%;">
    <img style="height: 1cm; margin: 0.5cm;" src="/images/aalogo.svg" />
  </div>
  <div style="flex-grow: 1; width: 33.33%; text-align: center; padding-top: 5mm">
    <p><span class="title"></span></p>
  </div>
  <div style="flex-grow: 1; text-align: right; width: 33.33%; padding-right: 5mm; padding-top: 5mm">
    <p>Prepared: <span class="date"></span> | Page <span class="pageNumber"></span> of <span class="totalPages"></span></p>
  </div>
</div>